@media print { body { -webkit-print-color-adjust: exact; } }

form {
    margin-bottom: 0;
}

code {
    color: black;
}

.delete {
    background-color: lavenderblush;
    white-space: pre;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.insert {
    background-color: #e2fee2;
    white-space: pre;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.context {
    white-space: pre;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side {
    float: left;
    font-family: monospace;
    margin:0;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle {
    float: left;
    font-family: monospace;
    padding-right: 1em;
    padding-left: 1em;
    margin-left: 25%;
}


.diff {
    clear: both;
    width: 100%;
}

.diffheader {
    clear: both;
    font-weight: bold;
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    margin-top: 3em;
    height: 2em;
    text-align: center;
}

.space {
    width: 100%;
    height: 2em;
    background-color: #f5f5f5;
    text-align: center;
}

.clear {
    height: 0;
    clear: both;
}